/* Enter your custom styles here */
.container {
    margin: auto;
    width: 60%;
    height: 20px;
    padding: 10px;
    padding-top: 10%;
    border: 5px solid #FFFF00;
    position: center;
    }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#yo{
    color : greenyellow
}