/* Enter your custom styles here */
.container1 {
    margin: auto;
    width: 60%;
    height: 20px;
    padding: 10px;
    padding-top: 10%;
    border: 5px solid #FFFF00;
    position: center;
    }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display_image{
    width: 375px;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}
#display_image{
    width: 375px;
    height: 220px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

/*  */