<!-- Container Markup
<div class="container">
    <input type="file" id="default-file" hidden="hidden" />


    <button id="custom-btn" type="button" class="btn">
      CHOOSE FILE
    </button>

    <span id="custom-space"> <strong> No</strong> File, Selected!?</span>
  </div>

  <div class="preview_holder">
    <div id="preview">
      <img src="" id="preview_img" class="preview_img" />
      <span id="preview_text" class="preview_text">Image Preview</span>
    </div>
  </div>  -->

  <!DOCTYPE html>
  <html lang="en">
      <head>
          <link rel="stylesheet" href="../css/style.css" accept="image/jpeg, image/png">
          <title>Document</title>
      </head>
      <body>
          <input type="file" id="image_input">
          <div id="display_image"></div>
          <script src="../controller/UploadPicture.controller.js"></script>
      </body>
  </html>
